aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.4.0
certifi==2022.6.15
chardet==3.0.4
discord.py==1.7.3
giphy-client==1.0.0
googletrans==3.1.0a0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2021.12.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
multidict==6.0.2
python-dateutil==2.8.2
rfc3986==1.5.0
six==1.16.0
sniffio==1.2.0
typing_extensions==4.2.0
urllib3==1.26.9
yarl==1.7.2